.idea
/node_modules
/public/css/*
/public/mix-manifest.json
/public/hot
/public/img/uploads
/public/img/user-photo
/public/img/nominations
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
public/js/*
composer.lock
/public/memberFiles
