//change site-other.sass
.juries
    .member-jury-card
        .description
            max-width: 50%
            margin: 0
        .picture
            max-width: 50%
//delete next time
@media (max-width: 768px)
    .members
        display: none


@media (max-width: 768px)
    .container
        width: 100%
        max-width: 608px
        margin: 0 auto
        box-sizing: border-box
    .preview
        padding-bottom: 0
        &::after
            background: url("../img/preview-tool-2.png") no-repeat
            right: -35%
            top: 53%
        .top-layout
            background-image: none
            clip-path: none
        .row
            display: flex
            justify-content: center
            .col-7
                max-width: 608px
                width: 100%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                .preview-text
                    width: 608px
                    margin-bottom: 340px
                .preview-logo
                    width: 100%
                    max-width: 608px
                    height: 280px
    .nominations
        background: #14042f
        .title-nominations
            .title
                margin-top: -10px
                font-size: 30px
                font-weight: 900
            .subtitle
                margin-top: 0!important
                font-size: 11px
                font-weight: 500
        .nominations-list
            flex-direction: column
            justify-content: center
            align-items: center
            .nominations-items
                margin-bottom: 20px
    .position
        background: #14042f
        .row
            display: flex
            flex-direction: column-reverse
            .col-xl-7
                iframe
                    height: 365px
            .col-xl-5
                display: flex
                flex-direction: column
                .title-section
                    margin-top: 10px
                .subtitle
                    margin-top: 0
                .text
                    margin-top: 15px
                .btn-group
                    margin: 25px 0 40px
                    display: flex
                    justify-content: space-between
                    .btn-read
                        width: 255px
                        display: flex
                        justify-content: center
                        align-items: center
    .gallery
        .gallery-item
            width: 50%
            flex-grow: 0
    .footer
        padding: 0 0 10px
        .container
            display: flex
            flex-direction: column
            text-align: center
            p
                margin-top: 20px

    .step-block
        margin: 30px 80px 55px
        .step-numbers
           .number-item
               padding-left: 48px!important
               .number-text
                    display: none
               .number-circle
                    font-size: 23px!important
                    font-weight: 800!important
                    width: 41px!important
                    height: 41px!important
               &::before
                   width: 48px!important
               &:first-child
                   padding-left: 0!important
        .step-form
            margin-top: 2px!important
            .step-title
                margin: 22px 0
            .input-group
                flex-direction: column
            label
                padding-bottom: 10px
            label:last-child
                padding-bottom: 0

@media (max-width: 414px)
    .container
        width: 100%
        max-width: 338px
        margin: 0 auto
        box-sizing: border-box
    .gallery
        .gallery-item
            width: 100%
            flex-grow: 0
    .preview
        &::after
            display: none
        .row
            .col-7
                flex: 0 0 0
                width: 100%
                max-width: 338px
                .preview-logo
                    margin: 0
                .preview-text
                    width: 338px
                    margin: 0 0 105px
    .nominations
        .title-nominations
            .title
                margin-top: -15px
                font-size: 21px!important
            .subtitle
                font-size: 7px!important
    .position
        text-align: center
        .col-xl-7
            iframe
                height: 203px!important
        .title-section
            font-size: 41px!important
        .btn-group
            flex-direction: column
            align-items: center
            .btn-read
                margin-bottom: 10px
