.applications .step-block .step-form .title-left .hint
   display: none
.juries
   .member-jury-card
      .description
         width: 50%
         margin: 0
      .picture
         width: 50%
         img
            width: 100%
.navbar-expand-lg>.container
   padding: 0 15px
@media (min-width: 1401px) and (max-width: 1600px)
   .preview
      &::after
         right: -90px

@media (max-width: 1199px)
   .header
      .navbar-light
         min-height: 79px
   .preview
      padding-bottom: 0
      &::after
         display: none
      .top-layout
         background-image: none
         clip-path: none
      .row
         display: flex
         justify-content: center
         .col-12
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            .preview-text
               width: auto
               margin-bottom: 0
               line-height: 1.2

            .preview-logo
               width: auto
               height: 280px

   .contacts
      padding-bottom: 45px
      .left-layer
         width: 70%
         .text-layer
            right: 100px
      .right-layer
         padding: 75px 20px 20px 55%
   .gymn
      .wrapper-gymn
         margin: 0 auto
         border-radius: 40px 40px 40px 40px

         .couplets
            //border-radius: 40px 40px 0 0

         .media
            top: 0

            .overflow
               .scroll-img
                  right: 0

            .absolute-block
               padding-bottom: 70px
               width: 100%
               min-height: 250px
               left: 0
               border-radius: 0 0 40px 40px
   .applications
      .step-block
         .step-numbers
            .number-item
               padding-left: 75px
               .number-text
                  display: none
   .members
      .table-members
         display: block
         width: 100%
         overflow-x: auto

@media (max-width: 991px)
   .header
      .navbar-light
         min-height: 65px
         .navbar-order
            order: 0
         .navbar-toggler
            outline: none
         .add-application
            padding: 24px
            margin-right: 80px
         .navbar-nav
            flex-direction: row
            justify-content: space-between
            margin: 10px 0
            .nav-item
                text-align: center
         .nav-menu
            .dropdown-menu
               position: absolute
               margin-left: 50%
               transform: translateX(-50%)
               .dropdown-item
                     font-size: 12px
                     white-space: initial
                     line-height: 1.5
                     padding: 10px

   .sections
      .application-for-participation
         height: 150px

         .title-section
            font-size: 26px
   .preview
      &::after
         top: 55%
      .row
         .col-12
            .preview-text
               width: auto
               max-width: 100%
               margin-bottom: 0

   .main-section.juries
      .container
         .title-section
            font-size: 26px
      .jury-list
         .items-title
            height: 100px
            width: 100%
            padding: 20px


      .member-committee-card
         .picture
            width: 50%

            img
               width: 100%
               height: 100%
               top: 50%
               left: 50%
               object-fit: cover

         .description
            .title-description
               font-size: 24px

            .text-description
               font-size: 19px

            margin: 0
            padding: 60px 35px 60px 15px
            border-radius: 0
            width: 50%

         justify-content: center

      .member-committee-card:nth-of-type(2n)
         .description
            padding: 60px 15px 60px 35px
            border-radius: 0

   .step-block
      .step-form
         .input-row
            margin: 15px 0
            flex-flow: column

            .input-container
               padding: 0

            .ml-4
               margin: 20px 0 0 0 !important

         .step-title.title-left
            flex-flow: row wrap
            font-size: 20px
            letter-spacing: 1px
            margin-bottom: 25px

            .hint
               margin-left: 20px
               width: 35px
               height: 35px

         .d-flex
            flex-flow: column !important

         .justify-content-between
            align-items: flex-start !important
            padding-bottom: 15px

         .mt-5
            flex-flow: row wrap !important
            align-items: center !important

         .result-row.file-row
            flex-flow: column
            margin-bottom: 60px

            .file-item
               margin: 0 0 30px 0px

   /**/

   .sections
      .container
         //max-width: 608px
         //box-sizing: border-box
         //padding: 0

         .title-section
            font-size: 50px

         .row
            .gallery-item
               margin: 4px 0

               .gallery-img
                  width: 100%
                  height: 292px

         .text-center
            margin-top: 35px
            .archive
               width: 296px
               height: 65px

   .video-gallery
      .gallery-content
         #carouselVideo
            display: flex
            flex-flow: column

            .title-video,
            .subtitle
               order: 0
               text-align: left
            .carousel-inner
               order: 1

               .carousel-item
                  .d-flex
                     .video
                        margin: 0
                        width: 100%
                        height: 300px

            .carousel-control-prev,
            .carousel-control-next
               margin-top: -50px

            .text-center
               order: 3

               .archive
                  margin-top: 45px


   .container
      //width: 100%
      //max-width: 608px
      //margin: 0 auto
      //box-sizing: border-box

   .nominations
      //background: #14042f
      .title-nominations
         .text
            .title
               margin-top: -10px
               font-size: 30px
               font-weight: 900
            .subtitle
               margin-top: 0 !important
               font-size: 11px
               font-weight: 500
      .nominations-list
         flex-direction: column
         justify-content: center
         align-items: center
         .nominations-items
            margin-bottom: 20px
   .position
      //background: #14042f
      .row
         display: flex
         .col-xl-7
            iframe
               height: 365px
         .col-xl-5
            display: flex
            flex-direction: column
            .title-section
               margin-top: 10px
            .subtitle
               margin-top: 0
            .text
               margin-top: 15px
            .btn-group
               margin: 25px 0 40px
               display: flex
               justify-content: space-between
               .btn-read
                  width: 255px
                  display: flex
                  justify-content: center
                  align-items: center
   .gallery
      .page-nav
         font-size: 16px
      .video-gallery-item
         width: 50%
         flex-grow: 0
      .gallery-content
         .col-4
            flex: 0 0 50%
            max-width: 50%
   .footer
      padding: 0 0 10px
      .container
         display: flex
         flex-direction: column
         text-align: center
         p
            margin-top: 20px

   .step-block
      margin: 0
      .step-numbers
         .number-item
            padding-left: 56px !important
            .number-text
               display: none
            .number-circle
               font-size: 23px !important
               font-weight: 800 !important
               width: 41px !important
               height: 41px !important
            &::before
               width: 60px !important
            &:first-child
               padding-left: 0 !important
      .step-form
         margin-top: 2px !important
         .step-title
            margin: 22px 0
         .input-group
            flex-direction: column
         label
            padding-bottom: 10px
         label:last-child
            padding-bottom: 0
   .gymn
      .wrapper-gymn
         border-radius: 50px 50px 40px 40px
         width: calc(100% - 2px)
         margin: 0 auto
         .couplets
            border-radius: 40px 40px 0 0
            margin-top: -1px
            font-size: 18px
         .media
            .overflow
               .scroll-img
                  max-height: 100%
                  overflow: auto

   .juries
      .title-juries
         .text
            top: 20px
            .title
               font-size: 24px
            .subtitle
               margin-top: 10px
               font-size: 14px
   .contacts
      display: flex
      flex-flow: column
      padding-bottom: 0

      .left-layer
         position: static
         background: url('../../public/img/contacts-layer-768px.png') no-repeat
         background-size: cover
         width: 100%
         height: auto

         .text-layer
            position: static
            padding: 30px 40px
            max-width: 100%
            .text-row
               .text-field, title-field
                  height: auto

         img
            display: none


      .right-layer
         padding: 0 0 65px 0
         margin: 0

         .contacts-title
            margin: 60px auto 0

         .subtitle

            margin: 15px auto

         .contacts-form
            width: auto
            margin: 0 auto

            .text-center
               .submit
                  width: 296px
                  height: 65px
@media(max-width: 767px)
   .sections
      .container
         //max-width: 608px
         //box-sizing: border-box
         //padding: 0

         .title-section
            font-size: 50px

         .row
            .gallery-item
               margin: 4px 0
               width: 100%
               .gallery-img
                  width: 100%
                  height: auto
   .applications .step-block .step-numbers
      display: none
   .applications .step-block .step-form .select-block .select
      width: 100%
   .applications .step-block
      padding: 20px 35px
   .applications .step-block .step-form .step-title
      font-size: 16px
   .gallery .video-gallery-item .dark-bg .caption
      font-size: 60px
   .gallery .video-gallery-item .dark-bg .caption:hover
      font-size: 75px
   .jury-list .next, .jury-list .prev
      display: none
   .juries .title-juries .text .title
      font-size: 18px
      margin-top: -2px
   .juries .title-juries .text .subtitle
      margin-top: 5px
   .header .navbar-light .add-application
      padding: 24px
      margin-right: 35px
      margin-left: 5px

@media (max-width: 575px)
   body .header .navbar-light .nav-menu .navbar-nav
      flex-flow: column
      align-items: center
   body .header .navbar-light .nav-menu .navbar-nav li
      display: block
   body

      .header
         .navbar-light
            .nav-menu
               .navbar-nav
                  flex-flow: column
                  align-items: center

                  li
                     .nav-item
                        font-size: 16px
               .dropdown-menu
                  position: static
                  margin-left: 0
                  transform: translateX(0)
                  .dropdown-item
                     font-size: 16px
                     white-space: initial
                     line-height: 1.5
                     padding: 12px

// mobile
@media (max-width: 414px)
   // main page
   body
      background: url("../img/prewiew-bg-mb.png") no-repeat
      background-attachment: fixed
      background-size: cover


      .header
         .navbar-light
            .nav-menu
               .navbar-nav
                  flex-flow: column
                  align-items: center

                  li
                     .nav-item
                        font-size: 16px
               .dropdown-menu
                  position: static
                  margin-left: 0
                  transform: translateX(0)
                  .dropdown-item
                        font-size: 16px
                        white-space: initial
                        line-height: 1.5
                        padding: 12px

      .sections
         .container
            //width: auto

      .members
         .container
            .title-section
                font-size: 32px

      .gallery
         .container
            .row
               .gallery-item
                  margin: 10px 0

                  .gallery-img
                     width: 100%
                     height: auto

            .text-center
               .archive
                  width: 280px
                  height: 65px

      .video-gallery
         background: #14042f

         .carousel
            display: none

         .gallery-content
            margin: 0 auto

            #carouselVideo
               margin: 0 auto
               padding: 0

               .title-video,
               .subtitle
                  width: 276px
                  margin: 0 auto 10px

               .subtitle
                  margin-bottom: 25px

               .carousel-inner
                  padding: 0 40px
                  .carousel-item
                     .d-flex
                        .video
                           margin: 0 auto
                           //width: 250px
                           //height: 228px

               .carousel-control-prev

                  margin-top: -50px
                  left: 5px
                  width: 32px

               .carousel-control-next
                  margin-top: -50px
                  right: 5px
                  width: 32px

               .text-center
                  .archive
                     margin-top: 45px
                     width: 280px

      .contacts

         .left-layer
            background: url('../../public/img/contacts-layer-414px.png') no-repeat
            width: 100%
            height: auto

            .text-layer
               position: static
               padding: 25px 40px
               .text-row
                  .text-field, title-field
                     height: auto

         .right-layer
            padding-bottom: 96px
            margin: 0
            background: #ffffff

            .contacts-title
               width: 100%
               text-align: center
               margin-top: 60px
               font-size: 20px

            .subtitle
               width: 100%
               text-align: center
               font-size: 10px

            .contacts-form
               width: auto
               padding: 0

               .form-row
                  input, textarea
                     font-size: 15px
                     padding: 8px 15px

               .text-center

                  .submit
                     width: 280px
                     height: 65px

      // regstr
      .applications
         .application-for-participation
            height: 90px
            padding-top: 20px
            margin-top: -15px

            .title-section
               font-size: 20px

            .subtitle
               font-size: 13px

         .container
            .step-block
               max-width: 100%
               padding: 0
               margin: 20px 0 0 0

               .step-numbers
                  margin: 0
                  padding: 0

                  .number-item
                     &::before
                        display: none

                     .number-circle
                        background: none
                        display: none

               .step-form
                  padding: 20px 29px

                  .step-title
                     font-size: 12px

                  .input-group
                     label
                        font-size: 12px
                        margin-bottom: 10px
                        padding-bottom: 0

                  .input-row
                     .input-container
                        overflow-x: hidden

                        input, label, span
                           font-size: 12px

                           &::placeholder
                              font-size: 12px

                  .result-row
                     .step-title
                        font-size: 12px

                     .info-list
                        font-size: 12px
                        margin-left: 40px

                  .file-row

                     .file-item
                        margin-right: 0px
                        overflow-x: hidden

                        img
                           width: 15%

                        span
                           font-size: 12px

                  .checkbox-row
                     p
                        font-size: 12px

                  .mt-5
                     flex-flow: column !important

                     .next-step
                        order: 1
                        width: 280px
                        margin-bottom: 20px

                     .prev-step
                        order: 2
                        width: 75px

                  .text-right
                     margin-top: 20px

                     .next-step
                        width: 100%

               .select-block
                  .select
                     max-width: 80%
                     font-size: 12px
                     background: none

      .sections.juries
         .title-section
            font-size: 26px

         .member-committee-card
            flex-flow: column
            line-height: 0

            .picture
               width: 100%

            .description
               padding: 20px 30px 20px 30px

               .title-description
                  font-size: 20px

               .text-description
                  font-size: 18px

               width: 100%

            &:nth-of-type(2n)
               .description
                  padding: 20px 30px 20px 30px
                  order: 2
                  flex-flow: column
                  line-height: 0

               .picture
                  order: 1

      .gymn
         padding-top: 100px

         .wrapper-gymn
            max-width: 338px

            .couplets
               padding: 25px 20px
               font-size: 14px

            .media
               .absolute-block
                  .audio
                     margin: 50px 0 20px 0
   .header
      marquee
         display: none
      .navbar-brand
         margin-right: 0
      .navbar-order
         display: flex
         flex-direction: row-reverse
         justify-content: space-between
         //width: 60%
         .add-application
            display: block
            margin: 0
            padding: 12px
            width: 125px
            text-align: center
            font-size: 10px
   .container
      //width: 100%
      //max-width: 338px
      //margin: 0 auto
      //box-sizing: border-box
   .gallery
      .page-nav
         font-size: 14px
      .title-section
         font-size: 26px !important
      .gallery-item
         width: 100%
         height: auto
         flex-grow: 0
      .video-gallery-item
         width: 100%
         height: auto
         flex-grow: 0
      .gallery-content
         .col-4
            flex: 0 0 100%
            max-width: 100%
   .main-section
      padding-top: 130px
   .preview
      &::after
         display: none
      .row
         .col-12
            .preview-logo
               margin: 20px 0
            .preview-text
               margin: 0 0 15px
               font-size: 16px
   .nominations
      .title-nominations
         img
            display: none
         .text
            position: static
            .title
               margin-top: 0
               font-size: 26px !important
            .subtitle
               font-size: 18px !important
               margin-top: 15px !important
   .position
      text-align: center
      .col-xl-7
         iframe
            height: 203px !important
      .title-section
         font-size: 26px !important
         text-align: center
      .btn-group
         flex-direction: column
         align-items: center
         .btn-read
            margin-bottom: 20px
            width: 280px !important
         .btn-download
            width: 280px
   .juries
      .title-juries
         .text
            top: 12px
            .title
               font-size: 16px
               margin-top: -1px
            .subtitle
               margin-top: 2px
               font-size: 10px
      .jury-list .next, .jury-list .prev
         display: none
      .member-jury-card
         margin-top: 20px
         flex-direction: column
         align-items: center
         justify-content: center
         .description
            width: 100%
            margin-top: -2px
            max-width: 100%
         .picture
            width: 100%
            max-width: 100%
            img
               width: 100%

   .applications .step-block .step-form .input-container img, .applications .step-block .step-form .select-block .star
      margin: 0 10px
      max-height: 20px
   .main-section.juries .container .title-section
      font-size: 22px

//@media (min-width: 415px)
//   .d-mob-none
//      display: none !important



