@media (max-width: 768px) 
    .header 
        .navbar
            height: 65px

            .navbar-brand
                margin-left: 60px

            .navbar-toggler 
                margin-right: 60px

    .sections 
        .title-section 
            font-size: 26px
    
    .juries 
        .member-committee-card
            .picture
            // TODO
                img
                    width: 100%
                    height: 100%
                width: 50%

            .description
                .title-description
                    font-size: 24px

                .text-description
                    font-size: 19px

                margin: 0
                padding: 60px 35px
                border-radius: 0
                width: 50%
    .juries 
        .member-committee-card:nth-of-type(2n) 
            .picture
                width: 50%

            .description
                .title-description
                    font-size: 24px

                .text-description
                    font-size: 19px

                margin: 0
                padding: 60px 35px
                border-radius: 0
                font-size: 19px
                width: 50%

        .member-committee-card 
            