.sections
   padding-bottom: 60px
.main-section
   padding-top: 190px
.gallery
   .gallery-item
      position: relative
      margin: 15px 0
      .dark-bg
         position: absolute
         top: 0
         left: 15px
         width: calc(100% - 30px)
         height: 100%
         max-height: 350px
         display: flex
         justify-content: center
         align-items: center
         background-color: rgba(0,0,0,0.3)
         cursor: pointer
         .caption
            font-family: Montserrat
            font-size: 60pt
            font-weight: 900
            color: #fff

         &:hover
            .caption
               transition: all 0.3s ease
               font-size: 80pt
   .page-nav
      display: flex
      justify-content: space-between
      align-items: center
      font-family: Montserrat
      font-size: 18pt
      font-weight: 600
      color: #fff
      text-transform: uppercase
      .title
         font-family: Montserrat
         color: #fff
         font-weight: 600
      .prev-page
         font-family: Montserrat
         color: #fff
         font-weight: 600
         text-decoration: none
         .fa
            margin-right: 5px