body
   line-height: 1
   position: relative
   background: url("../img/preview-bg.jpg") no-repeat
   background-attachment: fixed
   background-size: cover

.sections
   //background-color: #14042f
   padding-top: 60px
   padding-bottom: 270px
   .title-section
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
      color: #ffffff
      font-family: Montserrat
      font-size: 48px
      font-weight: 900
      letter-spacing: 4.8px
      text-transform: uppercase
      text-align: center

.pagination
   color: #ffffff
   font-family: Montserrat
   font-size: 20px
   font-weight: 500
   letter-spacing: -1px
   margin-top: 15px

   li
      margin: 0 5px
      width: 50px
      height: 50px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
   .controls
      font-size: 26px
      &.active
         border-radius: 25px
         background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
         color: #14042f


.header
   position: absolute
   top: 0
   left: 0
   width: 100%
   z-index: 10

   .navbar-light
      justify-content: space-between
      background-image: linear-gradient(180deg, #ffffff 0%, #d9d9d9 100%)
      padding: 0
      .nav-menu
         flex-grow: 0
         .dropdown-menu
            padding: 0
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)
            .dropdown-item
               padding: 16px
               text-align: center
               color: #410655
               font-family: Montserrat
               font-size: 14px
               font-weight: 700
               letter-spacing: 1.4px
               text-transform: uppercase
               &:hover
                  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16)
                  background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)

         .dropdown-toggle
            &::after
              display: none
         .nav-link
             padding: 12px
             color: #393939
             font-family: Montserrat
             font-size: 12px
             font-weight: 700
             letter-spacing: 1.2px
             text-transform: uppercase
         .active
            color: #ffa407
         .add-application
            padding: 30px
            margin-left: 22px
            border: none
            outline: none
            color: #ffffff
            font-family: Montserrat
            font-size: 15px
            font-weight: 700
            letter-spacing: 1.5px
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
            background-image: linear-gradient(180deg, #ff0000 0%, #ba0b0b 88%, #770707 100%)
            text-decoration: none
   .ticker
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24)
      background-color: #810caa
      padding: 20px 0
      color: #ffffff
      font-family: Montserrat
      font-size: 20px
      font-weight: 600
      letter-spacing: 2px
      text-transform: uppercase
.main-section
   padding-top: 135px
   background-size: cover
.preview
   padding-top: 175px
   position: relative
   padding-bottom: 276px
   overflow: hidden

   .top-layout
      background-image: linear-gradient(109deg, rgba(255, 255, 255, 0.48) 0%, #7d0ca5 100%)
      clip-path: polygon(0 0, 86% 0, 70% 100%, 0% 100%)
      .preview-logo
         margin: 62px 0
      .preview-text
         max-width: 634px
         color: #ffffff
         font-family: Montserrat
         font-size: 20px
         font-weight: 500
         letter-spacing: 2px
         margin-bottom: 200px
   &::after
      content: ""
      display: block
      width: 913px
      height: 920px
      position: absolute
      background: url("../img/preview-tool.png") no-repeat
      background-size: cover
      right: 0
      top: 135px
@media (max-width: 1400px)
   .preview
      .top-layout
         clip-path: polygon(0 0, 94% 0, 70% 100%, 0% 100%)
      &::after
         right: -14%

.nominations
   padding-top: 60px
   .title-nominations
      position: relative
      display: flex
      justify-content: center
      margin-bottom: 65px
      .text
         position: absolute
         top: 30px
         .title
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
            color: #ffffff
            font-family: Montserrat
            font-size: 37px
            font-weight: 900
            letter-spacing: 3.7px
         .subtitle
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
            color: #ffffff
            font-family: Montserrat
            font-size: 14px
            font-weight: 500
            letter-spacing: 1.4px
            margin-top: 10px
            text-align: center
   .nominations-list
      display: flex
      justify-content: space-between
      .nominations-items
         position: relative
         background-image: linear-gradient(180deg, #810caa 0%, #760b9b 50%, #410655 100%)
         border: 15px solid #fff
         border-radius: 50%
         width: 310px
         height: 310px
         display: flex
         justify-content: center
         align-items: flex-end
         overflow: hidden
         text-decoration: none

         img
            position: absolute
            display: block
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            max-width: 280px
            max-height: 280px
         .items-title
            height: 0
            width: 0
         &:hover
            .items-title
               transition: height 0.2s ease
               background-color: rgba(0, 0, 0, 0.7)
               height: 100px
               width: 100%
               padding: 20px
               text-align: center
               color: #ffffff
               font-family: Montserrat
               font-size: 17px
               font-weight: 900
               letter-spacing: 1.7px
               z-index: 5

   
.position
   .title-section
      text-align: left
   .subtitle
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
      color: #ffffff
      font-family: Montserrat
      font-size: 18px
      font-weight: 500
      letter-spacing: 1.8px
      margin-top: 15px
   .text
      margin-top: 65px
      color: #ffffff
      font-family: Montserrat
      font-size: 16px
      font-weight: 400
      letter-spacing: 1.6px
      line-height: 1.5
   .btn-group
      margin-top: 80px
      display: flex
      justify-content: space-between
      .btn
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
         border-radius: 10px !important
         width: 160px
         height: 65px
         padding: auto
         font-family: Montserrat
         font-size: 16px
         font-weight: 900
         letter-spacing: 1.6px
         line-height: 1.5
         white-space: pre-line
         border: none
         outline: none
      .btn-read
         background-image: linear-gradient(180deg, #810caa 0%, #760b9b 89%, #410655 100%)
         color: #ffffff
         border-top-right-radius: 10px
         border-bottom-right-radius: 10px

      .btn-download
         background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
         color: #410655
         width: 255px
.gallery
   .title-section
      text-align: center
      margin-bottom: 25px
   .gallery-item
      margin: 5px 0
   .archive
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
      border-radius: 10px
      background-image: linear-gradient(180deg, #810caa 0%, #760b9b 89%, #410655 100%)
      padding: 14px 48px
      color: #ffffff
      font-family: Montserrat
      font-size: 16px
      font-weight: 900
      letter-spacing: 1.6px
      border: none
      outline: none
      margin-top: 10px
.members
   .table-members
      margin-top: 25px
      border-radius: 50px 50px 0 0
      border: none
      width: 100%
      tr
         background-color: #410655
         &:nth-child(2n+1)
            background-color: #810caa
      th,td
         padding: 25px 10px
         text-align: center
         color: #410655
         font-family: Montserrat
         font-size: 16px
         font-weight: 700
         letter-spacing: 1.6px
      td
         color: #fff

      th
         border-right: 1px solid #000000
         color: #410655
         font-family: "Montserrat"
         font-size: 16px
         font-weight: 700
         letter-spacing: 1.6px
         line-height: 1.5
         vertical-align: middle
   .table-title
      background-image: linear-gradient(180deg, #f9c003 0%, #f9b703 87%, #803002 100%)
      border: none
      th:first-child
         border-radius: 50px 0 0 0
      th:last-child
         border-radius: 0 50px 0 0
         border: none
   .search-block
      border-radius: 0 0 50px 50px
      padding: 23px 10px
      display: flex
      justify-content: center
      background-image: linear-gradient(180deg, #f9c003 0%, #f3a303 91%, #7d2e02 100%)
      input
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
         border: none
         border-radius: 10px 0 0 10px
         padding: 0 30px
         height: 64px
         background-image: linear-gradient(180deg, #ffffff 0%, #f3f3f3 90%, #808080 100%)
         color: #747474
         font-family: Montserrat
         font-size: 20px
         font-weight: 700
         letter-spacing: 2px
         min-width: 380px
         outline: none
      select
         height: 64px
         border: none
         padding: 0 20px
         min-width: 190px
         text-align: center
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
         background-image: linear-gradient(180deg, #ffffff 0%, #f3f3f3 89%, #808080 100%)
         color: #3f3d56
         font-family: "Open Sans"
         font-size: 20px
         font-weight: 400
         outline: none
         &:last-of-type
            border-radius: 0 10px 10px 0
      .clean
         height: 64px
         width: 160px
         margin-left: 20px
         border: none
         outline: none
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
         border-radius: 10px
         background-image: linear-gradient(180deg, #810caa 0%, #760b9b 89%, #410655 100%)
         color: #ffffff
         font-family: "Open Sans"
         font-size: 20px
         font-weight: 400
   .pagination
      color: #ffffff
      font-family: Montserrat
      font-size: 20px
      font-weight: 500
      letter-spacing: -1px
      margin-top: 15px
      display: flex
      justify-content: center

      li
         margin: 0 5px
         width: 50px
         height: 50px
         display: flex
         justify-content: center
         align-items: center
         cursor: pointer
      .controls
         font-size: 26px
         &.active
            border-radius: 25px
            background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
            color: #14042f
.video-gallery
   padding-top: 35px
   background-color: rgb(0, 0, 0, 0.3)
   #carousel-text
      padding: 0 95px
      padding-bottom: 40px
      position: relative
      .carousel-item
         color: #ffffff
         font-family: Montserrat
         font-size: 20px
         font-weight: 400
         letter-spacing: 2px
         text-align: right
      .carousel-img
         position: absolute
         right: 0
         top: 0
      .carousel-indicators
         li
            background-color: #707070
            width: 15px
            height: 15px
            border-radius: 50%
            &.active
               background-color: #e2e2e2
   .gallery-content
      margin-top: 150px
      .video
         width: 100%
         height: 300px
         //max-height: 305px
         outline: none
      .title-video
         color: #ffffff
         font-family: Montserrat
         font-size: 26px
         font-weight: 900
         letter-spacing: 2.6px
      .subtitle
         color: #ffffff
         font-family: Montserrat
         font-size: 16px
         font-weight: 500
         letter-spacing: 1.6px
         margin-bottom: 80px
         margin-top: 5px
      .archive
         margin-top: 30px
         width: 255px
         height: 65px
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
         border-radius: 10px
         background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
         border: none
         outline: none
         color: #410655
         font-family: Montserrat
         font-size: 16px
         font-weight: 900
         letter-spacing: 1.6px
.contacts
   padding: 0 0 0 0
   position: relative
   display: block
   overflow: hidden
   min-height: 200px
   .left-layer
      position: absolute
      width: 42%
      line-height: 0
      left: -10px
      top: 0
      z-index: 5
      img
         height: 100%
      .text-layer
         position: absolute
         right: 150px
         top: 330px
         height: 45%
         display: flex
         flex-direction: column
         justify-content: space-between
         z-index: 5
         .text-row
            .title-field
               display: block
               color: #ffffff
               font-family: Montserrat
               font-size: 28px
               font-weight: 600
               margin-bottom: 20px
               height: 28px
            .text-field
               display: block
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 400
               margin-bottom: 10px
               height: 20px



   .right-layer
      width: 100%
      background: #ffffff url("../img/contacts-microphone.png") no-repeat right 60px bottom
      background-size: auto 90%
      margin-top: 90px
      padding: 75px 20px 150px 45%
      margin-bottom: 50px
      .contacts-title
         text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
         color: #7800a8
         font-family: Montserrat
         font-size: 43px
         font-weight: 900
         letter-spacing: 4.3px
      .subtitle
         text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
         color: #7800a8
         font-family: Montserrat
         font-size: 15px
         font-weight: 500
         letter-spacing: 1.5px
         margin-top: 10px
      .contacts-form
         padding: 30px 0
         .form-row
            margin: 30px 0
            max-width: 635px
            border: 1px solid #a1a1a1
            padding: 10px 0
            display: flex
            align-items: center
            border-radius: 10px

            input, textarea
               border: none
               padding: 17px 30px
               flex-grow: 1
               outline: none
               resize: none
               font-size: 20px
               font-weight: 700
               letter-spacing: 2px
               &::placeholder
                  color: #bebebe
                  font-family: Montserrat
                  font-size: 20px
                  font-weight: 700
                  letter-spacing: 2px
            span
               height: 58px
               width: 62px
               display: flex
               justify-content: center
               align-items: center
               color: #bebebe
               border-right: 1px solid #a1a1a1
            &:focus-within
               border: 1px solid #ffa407
               input::placeholder
                  color: #ffa407
                  font-family: Montserrat
                  font-size: 20px
                  font-weight: 700
                  letter-spacing: 2px
               span
                  color: #ffa407
                  border-right: 1px solid #ffa407
         .text-center
            max-width: 635px
         .submit
            width: 255px
            height: 65px
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
            border-radius: 10px
            background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 90%, #ffa064 100%)
            color: #410655
            font-family: Montserrat
            font-size: 16px
            font-weight: 900
            letter-spacing: 1.6px
            outline: none
            border: none

@media (max-width: 1400px)
   .contacts
      .left-layer
         width: 60%
         left: -18%


.footer
   padding: 40px 0
   background-color: #393939
   //margin-top: -2px

   .container
      display: flex
      justify-content: space-between
      .text-block
         color: #ffffff
         font-family: Montserrat
         font-size: 16px
         font-weight: 500
         letter-spacing: 1.6px