html
   font-size: 16px
.sections
   padding-bottom: 60px
.main-section
   padding-top: 190px

input, select, textarea, button
   outline: none
.fade-enter-active
   transition: 0.3s all 0.3s ease
.fade-leave-active
   transition: height 0.3s ease
.fade-enter, .fade-leave-to
   opacity: 0
   height: 0

.owl-carousel .owl-item img
   width: auto !important
.errors
   display: block
   color: orange
   line-height: 1.5
   font-family: Montserrat
   font-size: 16px
   margin: 10px 0
.applications
   padding-top: 170px
   .application-for-participation
      position: relative
      margin-top: -55px
      background-image: linear-gradient(270deg, #ffffff 0%, #ee3fdc 26%, #722bc4 100%)
      background-size: cover
      padding-top: 40px
      height: 180px
      width: 100%
      box-shadow: 0 10px 10px rgba(0,0,0,0.4)
   .subtitle
      color: #ffffff
      font-family: Montserrat
      font-size: 20pt
      font-weight: 500git
      letter-spacing: 1.6px
      padding-top: 12px
      text-align: center
   .step-block
      margin-top: 40px
      padding: 55px 90px 30px 90px
      border-radius: 20px
      background-color: #4b1772
      overflow: hidden
      .step-numbers
         display: flex
         justify-content: space-between
         align-items: center
         .number-item
            padding-left: 40px
            position: relative
            .number-circle
               transition: all 1s ease
               display: flex
               justify-content: center
               align-items: center
               width: 56px
               height: 56px
               background: #bdbdbd
               border-radius: 50%
               color: #ffffff
               font-family: Montserrat
               font-size: 30px
               font-weight: 700
            .number-text
               transition: all 1s ease
               margin-left: 14px
               color: #bdbdbd
               font-family: Montserrat
               font-size: 16px
               font-weight: 700
               letter-spacing: 1.6px
            &::before
               content: ""
               position: absolute
               left: 0
               top: 50%
               margin-top: -2px
               width: 40px
               height: 3px
               background: #bdbdbd
            &:first-of-type
               padding-left: 0
               &::before
                  display: none

         .active
            .number-circle
               background: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
               color: #410655
            .number-text
               color: #ffffff
            &::before
               background: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
      .step-form
         margin-top: 55px
         .step-title
            display: flex
            align-items: center
            color: #ffffff
            font-family: Montserrat
            font-size: 20px
            font-weight: 700
            letter-spacing: 2px
            text-transform: uppercase
            margin-bottom: 20px
         .title-left
            margin: 0

            .hint
               display: block
               margin-left: 7px
               width: 27px
               height: 27px
               background: url("../img/step-hint.png") no-repeat

         .input-group
            padding: 20px
            margin-top: 23px
            border-radius: 10px
            border: 1px solid #ffffff
            display: flex
            justify-content: space-between

            label
               position: relative
               padding-left: 30px
               min-height: 21px
               display: flex
               align-items: center
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 400
               letter-spacing: 2px
            input
               display: none
            input+i
               display: block
               position: absolute
               left: 0
               width: 22px
               height: 21px
               background: url("../img/empty-radio.png") no-repeat
            input:checked+i
               background: url("../img/full-radio.png") no-repeat
         .input-group-right
            width: auto
            min-width: 50%
            margin: 0
            border: none
            padding: 0
         .select-block
            border-radius: 10px
            border: 1px solid #ffffff
            padding: 5px 0
            margin-top: 20px
            display: flex
            align-items: center
            .star
               margin: 0 20px
            .select
               padding: 15px
               border: none
               border-left: 1px solid #ffffff
               background: transparent
               flex-grow: 1
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 400
               letter-spacing: 2px
               outline: none
               appearance: none
               background: url("../img/select-arrow.png") no-repeat right 20px top 50%
               option
                  color: #000
         .text-right
            margin-top: 50px
         .next-step
            min-width: 160px
            height: 60px
            border-radius: 10px
            background-color: #ffa407
            border: none
            outline: none
            color: #410655
            font-family: Montserrat
            font-size: 20px
            font-weight: 700
            letter-spacing: 2px
            padding: 0 10px
         .prev-step
            color: #ffffff
            font-family: Montserrat
            font-size: 23px
            font-weight: 700
            letter-spacing: 2.3px
            cursor: pointer
         .input-row
            display: flex
            justify-content: space-between
            margin: 20px 0
         .input-container
            padding: 5px 0

            border-radius: 10px
            border: 1px solid #ffffff
            flex-grow: 1
            display: flex
            align-items: center
            img
               margin: 0 20px
            input
               padding: 15px 30px
               background-color: transparent
               border: none
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 400
               letter-spacing: 2px
               width: 100%
               &::placeholder
                  color: #ffffff
                  font-family: Montserrat
                  font-size: 20px
                  font-weight: 400
                  letter-spacing: 2px
                  text-transform: uppercase
            &:first-of-type
               input
                  border-left: 1px solid #fff
            label
               display: flex
               justify-content: space-between
               border-left: 1px solid #fff
               padding: 15px 30px
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 400
               letter-spacing: 2px
               width: 100%
               text-transform: uppercase
         .checkbox-row
            justify-content: flex-start
            label
               position: relative
               display: flex
               align-items: center
               padding-left: 65px
               height: 30px
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 700
               letter-spacing: 2px
               text-transform: uppercase
               input+i
                  display: block
                  position: absolute
                  left: 0
                  width: 30px
                  height: 30px
                  background: url("../img/empty-check.png") no-repeat 0 100%
               input:checked+i
                  background: url("../img/full-check.png") no-repeat 100% 100%
         h4.step-title
            color: #ffffff
            font-family: Montserrat
            font-size: 16px
            font-weight: 700
            letter-spacing: 1.6px
            text-transform: uppercase
         .result-row
            margin-top: 20px
            line-height: 1.5
            text-transform: uppercase
            h5.step-title
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 600
               letter-spacing: 2px
               margin: 0
            .info-list
               margin-left: 95px
               margin-top: 10px
               color: #ffffff
               font-family: Montserrat
               font-size: 20px
               font-weight: 400
               letter-spacing: 2px
         .file-row
            display: flex
            .file-item
               margin-right: 35px
               span
                  color: #ffffff
                  font-family: Montserrat
                  font-size: 20px
                  font-weight: 400
                  text-align: center
                  margin-top: 10px

         .result-checkbox
            label
               line-height: 1.5
               p
                  color: #ffffff
                  font-family: Montserrat
                  font-size: 17.5px
                  font-weight: 500

                  a
                     display: inline
                     font-weight: 700
                     text-decoration: underline
                     color: #fff
.gallery
   .gallery-item
      position: relative
      margin: 15px 0
      flex-grow: 1
      img
         height: 300px
         width: 100%
      .dark-bg
         position: absolute
         top: 0
         left: 15px
         width: calc(100% - 30px)
         height: 300px
         display: flex
         justify-content: center
         align-items: center
         background-color: rgba(0,0,0,0.3)
         cursor: pointer
         .caption
            font-family: Montserrat
            font-size: 60px
            font-weight: 900
            color: #fff

         &:hover
            .caption
               transition: all 0.2s ease
               font-size: 80px
   .video-gallery-item
      position: relative
      margin: 15px 0
      img
         max-height: 350px
         height: 100%
         width: 100%
      .dark-bg
         position: absolute
         top: 0
         left: 15px
         width: calc(100% - 30px)
         height: calc(100% - 25px)
         max-height: 350px
         display: flex
         justify-content: center
         align-items: center
         cursor: pointer
         .caption
            font-family: Montserrat
            font-size: 60pt
            font-weight: 900
            color: #fff

         &:hover
            .caption
               transition: all 0.3s ease
               font-size: 80pt
   .page-nav
      display: flex
      justify-content: space-between
      align-items: center
      font-family: Montserrat
      font-size: 18pt
      font-weight: 600
      color: #fff
      text-transform: uppercase
      .title
         font-family: Montserrat
         color: #fff
         font-weight: 600
      .prev-page
         font-family: Montserrat
         color: #fff
         font-weight: 600
         text-decoration: none
         .fa
            margin-right: 5px


.gymn
   .wrapper-gymn
      background-color: #fff
      border-radius: 40px 0 0 40px

      .couplets
         background-image: linear-gradient(180deg, #810caa 0%, #760b9b 50%, #410655 100%)
         border-radius: 30px

         color: #ffffff
         font-family: Montserrat
         font-size: 16px
         font-weight: 400
         line-height: 1.5
         padding: 40px 20px 45px 45px
         h1
            color: #ffffff
            font-family: Montserrat
            font-size: 16px
            font-weight: 500
            margin-bottom: 20px
         p
            color: #ffffff
            font-family: Montserrat
            font-size: 16px
            font-weight: 400

      .media
         flex-direction: column
         position: relative
         padding-bottom: 150px
         padding-top: 10px
         .overflow
            overflow: hidden
            .scroll-img
               max-height: 600px
               position: relative
               right: -15px
               overflow: scroll
               padding-bottom: 80px
         .absolute-block
            position: absolute
            width: calc(100% - 15px)
            min-height: 300px
            bottom: 0
            left: 15px
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 23%, #ffffff 100%)
            .audio
               width: 100%
               outline: none
               margin: 100px 0 20px 0
            audio::-webkit-media-controls-panel
               background-color: #fff
            .download
               box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
               border-radius: 10px
               background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
               outline: none
               color: #ffffff
               font-family: Montserrat
               font-size: 19px
               font-weight: 900
               letter-spacing: 1.9px
               border: none
               padding: 20px 30px
               text-decoration: none

.juries
   .title-juries
      position: relative
      display: flex
      justify-content: center
      margin-bottom: 15px
      .text
         position: absolute
         top: 30px
         .title
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
            color: #ffffff
            font-family: Montserrat
            font-size: 37px
            font-weight: 900
            letter-spacing: 3.7px
         .subtitle
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
            color: #ffffff
            font-family: Montserrat
            font-size: 14px
            font-weight: 500
            letter-spacing: 1.4px
            margin-top: 10px
            text-align: center
   .page-nav
      display: flex
      justify-content: space-between
      align-items: center
      font-family: Montserrat
      font-size: 18pt
      font-weight: 600
      color: #fff
      text-transform: uppercase
      .title
         font-family: Montserrat
         color: #fff
         font-weight: 600
      .prev-page
         font-family: Montserrat
         color: #fff
         font-weight: 600
         text-decoration: none
         .fa
            margin-right: 10px
   .sortiration-block
         margin: 55px 0 20px auto
         width: 41%
         color: #ffffff
         font-family: Montserrat
         font-size: 20px
         line-height: 40px
         font-weight: 400
         select
            appearance: none
            margin-top: -2pt
            margin-left: 5px
            width: 73%
            height: 40px
            color: #ffffff
            font-family: Montserrat
            font-size: 20px
            font-weight: 400
            line-height: 40px
            border: none
            padding: 0 20px
            min-width: 190px
            text-align: center
            outline: none
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
            background: transparent url('../img/mini-arrow.png') left top 50%  no-repeat
            option
              color: #000000
   .member-jury-card
      display: flex
      justify-content: center
      margin-top: 55px
      .picture
         
         img
            border-radius: 100px 0 0
      .description

         margin: 98px 0 30px 0
         padding: 90px 95px 120px 30px
         background: rgba(79, 33, 96, 0.5)
         border-radius: 0 0 20px
         .title-description
            color: #ffffff
            font-family: "Segoe UI"
            font-size: 20px
            font-weight: 700
            text-transform: uppercase

         .text-description
            margin-top: 20px
            line-height: 1.5
            color: #ffffff
            font-family: "Segoe UI"
            font-size: 16px
            font-weight: 400
   .member-committee-card
      display: flex
      margin-top: 55px
      .picture
         width: 49%
         img
            border-radius: 100px 0 0
      .description
         width: 51%
         margin: 98px 0 30px 0
         padding: 90px 95px 120px 30px
         background: rgba(79, 33, 96, 0.8)
         border-radius: 0 0 20px
         .title-description
            color: #ffffff
            font-family: "Segoe UI"
            font-size: 20px
            font-weight: 700
            text-transform: uppercase

         .text-description
            margin-top: 20px
            line-height: 1.5
            color: #ffffff
            font-family: "Segoe UI"
            font-size: 16px
            font-weight: 400
      &:nth-of-type(2n)
         .picture
            order: 2
            img
               border-radius: 0 100px 0 0
         .description
            order: 1
            text-align: right
            padding: 90px 30px 120px 95px
            border-radius: 20px 0 0 20px
   .pagination
      color: #ffffff
      font-family: Montserrat
      font-size: 20px
      font-weight: 500
      letter-spacing: -1px
      margin-top: 40px
      display: flex
      justify-content: center

      li
         margin: 0 5px
         width: 50px
         height: 50px
         display: flex
         justify-content: center
         align-items: center
         cursor: pointer
      .controls
         font-size: 20px
         &.active
            border-radius: 25px
            background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%)
            color: #14042f

.jury-list
   display: flex
   justify-content: space-between
   position: relative
   .owl-item
      display: flex
      justify-content: center
   .prev
      position: absolute
      color: #fff
      left: -40px
      top: 130px
   .next
      position: absolute
      color: #fff
      right: -40px
      top: 130px
   .jury-items
      position: relative
      border: 15px solid #fff
      background-color: #ffff00
      border-radius: 50%
      width: 310px
      height: 310px
      display: flex
      justify-content: center
      align-items: flex-end
      overflow: hidden
      text-decoration: none
      margin-bottom: 65px

      img
         position: absolute
         display: block
         top: 50%
         left: 50%
         transform: translate(-50%,-50%)
         max-width: 280px
         max-height: 280px
      .items-title
         height: 0
         width: 0
      &:hover
         .items-title
            transition: height 0.2s ease
            background-color: rgba(0, 0, 0, 0.7)
            height: 100px
            width: 100%
            padding: 20px
            text-align: center
            color: #ffffff
            font-family: Montserrat
            font-size: 17px
            font-weight: 900
            letter-spacing: 1.7px
            z-index: 5







