.evaluationInfo .col-6 b {
    display: block;
    font-size: 14px;
}
.evaluationInfo {
    font-size: 18px;
    padding: 20px;
}
.evaluationInfo .evaluationName {
    font-size: 24px;
    margin-bottom: 20px;
}
.comeBack a {
    text-decoration: none;
    font-weight: bold;
}
.search i {
    display: block;
    margin: 30px 0px -30px 10px;
    font-size: 24px;
}
.search input {
    padding-left: 40px;
    margin-bottom: 25px;
}

.edit-photo .form-group{padding:0;margin:0}
.edit-photo input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.edit-photo .label{width:120px;border:2px dashed grey;border-radius:5px;display:block;padding:0;transition:border 300ms ease;cursor:pointer;text-align:center}
.edit-photo .label i{display:block;font-size:42px;padding-top:16px}
.edit-photo .label i,.edit-photo .label .title{color:grey;transition:200ms color}
.edit-photo .label:hover{border:2px solid #000}
.edit-photo .label:hover i,.edit-photo .label:hover .title{color:#000}

.input-edit-correct {
    width: 135px;
}

.text-area-width {
    width:320px;
}

.fotoGallery {
    background-size: cover;
    margin-bottom: 10px;
    height: 200px;
    color: #fff;
}

.fotoGallery .fa-calendar {
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.fotoGallery .fa-times-circle {
    font-size: 24px;
    position: absolute;
    top: 15px;
    left: 30px;
}

.fotoGallery .fa-download {
    background: #fff;
    position: absolute;
    border: 1px solid silver;
    padding: 10px;
    right: 25px;
    bottom: 20px;
}

.fotoGallery .fa-search {
    background: #fff;
    position: absolute;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 50px;
    left: 45%;
    top: 35%;
    color: #000;
    opacity: 0.3;
    transition: 0.5s;
}
.fotoGallery .fa-search:hover {
    opacity: 0.9;
}
.inline {
    display: inline-block;
}
.brtop {
    margin-bottom:-5px;
    font-weight: bold;
    font-size: 12px;
    display:inline-block;
}
.btn-width {
    width: 150px;
    margin-right: 38px;
}
.nomination-width {
    width: 270px;
}
.button-position {
    margin-top: -39px;
    margin-right: 18px;
    height: 38px;
    font-size: 2.5em;
}
.additional-position {
    padding-top: 14px;
    padding-left: 16px;
}
#additional-info {
    width: 320px;
}
.add-button {
    margin-top: 40px;
    margin-bottom: 15px;
    float: right;
}
.load-enter-active, .load-leave-active {
    transition: opacity .5s;
}
.load-enter, .load-leave-to {
    opacity: 0;
}
.edit-td {
    position: relative;
    padding: 0;
}
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    transform: translate(-50%, -50%);
    position: absolute; 
    top: 41%; 
    left: 50%;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .custom-file-control:before {
    content: "Вибрати";
}