body {
  line-height: 1;
  position: relative;
  background: url(/images/preview-bg.jpg?49a7961621e9a6563222f2fb19b519f1) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sections {
  padding-top: 60px;
  padding-bottom: 270px;
}

.sections .title-section {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  text-align: center;
}

.pagination {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 15px;
}

.pagination li {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination .controls {
  font-size: 26px;
}

.pagination .controls.active {
  border-radius: 25px;
  background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%);
  color: #14042f;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header .navbar-light {
  justify-content: space-between;
  background-image: linear-gradient(180deg, #ffffff 0%, #d9d9d9 100%);
  padding: 0;
}

.header .navbar-light .nav-menu {
  flex-grow: 0;
}

.header .navbar-light .nav-menu .dropdown-menu {
  padding: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.header .navbar-light .nav-menu .dropdown-menu .dropdown-item {
  padding: 16px;
  text-align: center;
  color: #410655;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.header .navbar-light .nav-menu .dropdown-menu .dropdown-item:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%);
}

.header .navbar-light .nav-menu .dropdown-toggle::after {
  display: none;
}

.header .navbar-light .nav-menu .nav-link {
  padding: 12px;
  color: #393939;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.header .navbar-light .nav-menu .active {
  color: #ffa407;
}

.header .navbar-light .nav-menu .add-application {
  padding: 30px;
  margin-left: 22px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(180deg, #ff0000 0%, #ba0b0b 88%, #770707 100%);
  text-decoration: none;
}

.header .ticker {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
  background-color: #810caa;
  padding: 20px 0;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-section {
  padding-top: 135px;
  background-size: cover;
}

.preview {
  padding-top: 175px;
  position: relative;
  padding-bottom: 276px;
  overflow: hidden;
}

.preview .top-layout {
  background-image: linear-gradient(109deg, rgba(255, 255, 255, 0.48) 0%, #7d0ca5 100%);
  -webkit-clip-path: polygon(0 0, 86% 0, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 86% 0, 70% 100%, 0% 100%);
}

.preview .top-layout .preview-logo {
  margin: 62px 0;
}

.preview .top-layout .preview-text {
  max-width: 634px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 200px;
}

.preview::after {
  content: "";
  display: block;
  width: 913px;
  height: 920px;
  position: absolute;
  background: url(/images/preview-tool.png?cfa8639d686057e0f9e9704d6102597c) no-repeat;
  background-size: cover;
  right: 0;
  top: 135px;
}

@media (max-width: 1400px) {
  .preview .top-layout {
    -webkit-clip-path: polygon(0 0, 94% 0, 70% 100%, 0% 100%);
            clip-path: polygon(0 0, 94% 0, 70% 100%, 0% 100%);
  }

  .preview::after {
    right: -14%;
  }
}

.nominations {
  padding-top: 60px;
}

.nominations .title-nominations {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.nominations .title-nominations .text {
  position: absolute;
  top: 30px;
}

.nominations .title-nominations .text .title {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 37px;
  font-weight: 900;
  letter-spacing: 3.7px;
}

.nominations .title-nominations .text .subtitle {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-top: 10px;
  text-align: center;
}

.nominations .nominations-list {
  display: flex;
  justify-content: space-between;
}

.nominations .nominations-list .nominations-items {
  position: relative;
  background-image: linear-gradient(180deg, #810caa 0%, #760b9b 50%, #410655 100%);
  border: 15px solid #fff;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  text-decoration: none;
}

.nominations .nominations-list .nominations-items img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
  max-height: 280px;
}

.nominations .nominations-list .nominations-items .items-title {
  height: 0;
  width: 0;
}

.nominations .nominations-list .nominations-items:hover .items-title {
  transition: height 0.2s ease;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 1.7px;
  z-index: 5;
}

.juries {
  padding-top: 60px;
}

.juries .title-juries {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.juries .title-juries .text {
  position: absolute;
  top: 30px;
}

.juries .title-juries .text .title {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 37px;
  font-weight: 900;
  letter-spacing: 3.7px;
}

.juries .title-juries .text .subtitle {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-top: 10px;
  text-align: center;
}

.jury-list {
  display: flex;
  justify-content: space-between;
}

.jury-list .jury-items {
  position: relative;
  border: 15px solid #fff;
  background-color: #ffff00;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 65px;
}

.jury-list .jury-items img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
  max-height: 280px;
}

.jury-list .jury-items .items-title {
  height: 0;
  width: 0;
}

.jury-list .jury-items:hover .items-title {
  transition: height 0.2s ease;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 1.7px;
  z-index: 5;
}

.position .title-section {
  text-align: left;
}

.position .subtitle {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.8px;
  margin-top: 15px;
}

.position .text {
  margin-top: 65px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 1.5;
}

.position .btn-group {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.position .btn-group .btn {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
  width: 160px;
  height: 65px;
  padding: auto;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1.6px;
  line-height: 1.5;
  white-space: pre-line;
  border: none;
  outline: none;
}

.position .btn-group .btn-read {
  background-image: linear-gradient(180deg, #810caa 0%, #760b9b 89%, #410655 100%);
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.position .btn-group .btn-download {
  background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%);
  color: #410655;
  width: 255px;
}

.gallery .title-section {
  text-align: center;
  margin-bottom: 25px;
}

.gallery .gallery-item {
  margin: 5px 0;
}

.gallery .archive {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(180deg, #810caa 0%, #760b9b 89%, #410655 100%);
  padding: 14px 48px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1.6px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.members .table-members {
  margin-top: 25px;
  border-radius: 50px 50px 0 0;
  border: none;
  width: 100%;
}

.members .table-members tr {
  background-color: #410655;
}

.members .table-members tr:nth-child(2n+1) {
  background-color: #810caa;
}

.members .table-members th,
.members .table-members td {
  padding: 25px 10px;
  text-align: center;
  color: #410655;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.members .table-members td {
  color: #fff;
}

.members .table-members th {
  border-right: 1px solid #000000;
  color: #410655;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 1.5;
  vertical-align: middle;
}

.members .table-title {
  background-image: linear-gradient(180deg, #f9c003 0%, #f9b703 87%, #803002 100%);
  border: none;
}

.members .table-title th:first-child {
  border-radius: 50px 0 0 0;
}

.members .table-title th:last-child {
  border-radius: 0 50px 0 0;
  border: none;
}

.members .search-block {
  border-radius: 0 0 50px 50px;
  padding: 23px 10px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, #f9c003 0%, #f3a303 91%, #7d2e02 100%);
}

.members .search-block input {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 0 30px;
  height: 64px;
  background-image: linear-gradient(180deg, #ffffff 0%, #f3f3f3 90%, #808080 100%);
  color: #747474;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  min-width: 380px;
  outline: none;
}

.members .search-block select {
  height: 64px;
  border: none;
  padding: 0 20px;
  min-width: 190px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(180deg, #ffffff 0%, #f3f3f3 89%, #808080 100%);
  color: #3f3d56;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  outline: none;
}

.members .search-block select:last-of-type {
  border-radius: 0 10px 10px 0;
}

.members .search-block .clean {
  height: 64px;
  width: 160px;
  margin-left: 20px;
  border: none;
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(180deg, #810caa 0%, #760b9b 89%, #410655 100%);
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
}

.members .pagination {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.members .pagination li {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.members .pagination .controls {
  font-size: 26px;
}

.members .pagination .controls.active {
  border-radius: 25px;
  background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%);
  color: #14042f;
}

.video-gallery {
  padding-top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
}

.video-gallery #carousel-text {
  padding: 0 95px;
  padding-bottom: 40px;
  position: relative;
}

.video-gallery #carousel-text .carousel-item {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: right;
}

.video-gallery #carousel-text .carousel-img {
  position: absolute;
  right: 0;
  top: 0;
}

.video-gallery #carousel-text .carousel-indicators li {
  background-color: #707070;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.video-gallery #carousel-text .carousel-indicators li.active {
  background-color: #e2e2e2;
}

.video-gallery .gallery-content {
  margin-top: 150px;
}

.video-gallery .gallery-content .video {
  width: 100%;
  height: 300px;
  outline: none;
}

.video-gallery .gallery-content .title-video {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2.6px;
}

.video-gallery .gallery-content .subtitle {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-bottom: 80px;
  margin-top: 5px;
}

.video-gallery .gallery-content .archive {
  margin-top: 30px;
  width: 255px;
  height: 65px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 82%, #ffa064 100%);
  border: none;
  outline: none;
  color: #410655;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1.6px;
}

.contacts {
  padding: 0 0 0 0;
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 200px;
}

.contacts .left-layer {
  position: absolute;
  width: 42%;
  line-height: 0;
  left: -10px;
  top: 0;
  z-index: 5;
}

.contacts .left-layer img {
  height: 100%;
}

.contacts .left-layer .text-layer {
  position: absolute;
  right: 150px;
  top: 330px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.contacts .left-layer .text-layer .text-row .title-field {
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  height: 28px;
}

.contacts .left-layer .text-layer .text-row .text-field {
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  height: 20px;
}

.contacts .right-layer {
  width: 100%;
  background: #ffffff url(/images/contacts-microphone.png?020cd38d303bf985624f80584989594f) no-repeat right 60px bottom;
  background-size: auto 90%;
  margin-top: 90px;
  padding: 75px 20px 150px 45%;
  margin-bottom: 50px;
}

.contacts .right-layer .contacts-title {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #7800a8;
  font-family: Montserrat;
  font-size: 43px;
  font-weight: 900;
  letter-spacing: 4.3px;
}

.contacts .right-layer .subtitle {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #7800a8;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.contacts .right-layer .contacts-form {
  padding: 30px 0;
}

.contacts .right-layer .contacts-form .form-row {
  margin: 30px 0;
  max-width: 635px;
  border: 1px solid #a1a1a1;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.contacts .right-layer .contacts-form .form-row input,
.contacts .right-layer .contacts-form .form-row textarea {
  border: none;
  padding: 17px 30px;
  flex-grow: 1;
  outline: none;
  resize: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row input::-webkit-input-placeholder,
.contacts .right-layer .contacts-form .form-row textarea::-webkit-input-placeholder {
  color: #bebebe;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row input::-moz-placeholder,
.contacts .right-layer .contacts-form .form-row textarea::-moz-placeholder {
  color: #bebebe;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row input:-ms-input-placeholder,
.contacts .right-layer .contacts-form .form-row textarea:-ms-input-placeholder {
  color: #bebebe;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row input::-ms-input-placeholder,
.contacts .right-layer .contacts-form .form-row textarea::-ms-input-placeholder {
  color: #bebebe;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row input::placeholder,
.contacts .right-layer .contacts-form .form-row textarea::placeholder {
  color: #bebebe;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row span {
  height: 58px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bebebe;
  border-right: 1px solid #a1a1a1;
}

.contacts .right-layer .contacts-form .form-row:focus-within {
  border: 1px solid #ffa407;
}

.contacts .right-layer .contacts-form .form-row:focus-within input::-webkit-input-placeholder {
  color: #ffa407;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row:focus-within input::-moz-placeholder {
  color: #ffa407;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row:focus-within input:-ms-input-placeholder {
  color: #ffa407;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row:focus-within input::-ms-input-placeholder {
  color: #ffa407;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row:focus-within input::placeholder {
  color: #ffa407;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.contacts .right-layer .contacts-form .form-row:focus-within span {
  color: #ffa407;
  border-right: 1px solid #ffa407;
}

.contacts .right-layer .contacts-form .text-center {
  max-width: 635px;
}

.contacts .right-layer .contacts-form .submit {
  width: 255px;
  height: 65px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ffd501 0%, #ff9d0b 90%, #ffa064 100%);
  color: #410655;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1.6px;
  outline: none;
  border: none;
}

@media (max-width: 1400px) {
  .contacts .left-layer {
    width: 60%;
    left: -18%;
  }
}

.footer {
  padding: 40px 0;
  background-color: #393939;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .container .text-block {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

